{
    "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:prettier/recommended"
    ],

    "plugins": ["react", "@typescript-eslint", "prettier"],
    "rules": {
      "semi": [2, "always"],
      "no-console": "off",
      "no-debugger": "warn",
      "no-await-in-loop": "off",
      "no-plusplus": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "prettier/prettier": [
        "error", {
          "singleQuote": true,
          "semi": true,
          "endOfLine":"auto"
        }
      ]
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true
  }