* { margin:0; padding:0; }

html, body, #root { min-height: 100%; }

 #root { 
    background:#d7dce0;
}

.wrapper {
    background: #F3F7FA;
    min-height: 100vh;
}

#root .header {

    padding:50px 0;
    .logo {
        text-align: right;
        img {
            width: 20%;
        }
    }
    .logoText {
        h3 {
            font-size: 2em;
            color:rgb(50, 95, 76);
        }
    }

}

footer {
    padding: 20px 0;
}
